body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #dbebfc;
}

h2 {
    color: #020255;
    text-align: center;
    margin-top: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}